.button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-family: $font-text;
    font-size: $font-size;
    color: $color-bg;
    line-height: 28px;
    background-color: $color-primary;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &--square {
        // display: inline-block;
        // width: auto;
        // padding-left: 20px;
        // padding-right: 20px;
    }

    &--big {
        font-size: $font-size--h2;
    }

    &--big_second {
        @extend .button--big;
        background-color: $color-secondary;
    }

    &--big_reset {
        @extend .button--big;
        background-color: $color-alert;        
    }

    &--fb {
        background-color: $color-fb;
    }

    &--fb_small {
        @extend .button--fb;
        font-size: $font-size--h3;
        line-height: 18px;
    }

    &--tw_small {
        font-size: $font-size--h3;
        line-height: 18px;
    }

    &--auto {
        display: inline-block;
        width: auto;
        background-color: $color-secondary;
        padding-left: 30px;
        padding-right: 30px;
    }
}