.cart {
	display: table;
	width: 100%;
}

.cart__header {
	display: table-header-group;
	color: $grey-dark;
}

.cart__item {
	display: table-row;
}

.cart__image {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	padding: 10px;
	text-align: right;
	border-bottom: 2px solid $grey-light;	
}

.cart__name {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;	
	border-bottom: 2px solid $grey-light;	
}

.cart__price {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	padding: 10px;	
	text-align: center;
	border-bottom: 2px solid $grey-light;		
}

.cart__quantity {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	padding: 10px;	
	text-align: center;
	border-bottom: 2px solid $grey-light;	
	
}

.cart__total {
	display: table-cell;
	padding: 20px;
	vertical-align: middle;
	width: 50px;
	padding: 10px;	
	text-align: right;
	border-bottom: 2px solid $grey-light;		
}

.cart__subtotal {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	color: $grey-dark;
}

.cart__subtotal-value {
	color: $color-text;
	padding-left: 15px;
	padding-right: 10px;
}

.cart__count {
	display: inline-block;
	padding: 0;
	width: 26px;
	height: 26px;
	color: $color-bg;
	font-size: $font-size--h2;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	border: none;
	
	&:hover {
		opacity: 0.8;
        cursor: pointer;
	}

	&_minus {
		background-color: $color-alert;
	}

	&_plus {
		background-color: $color-secondary;
	}
}

.cart__count-value {
	padding: 0 10px;
}

.cart__minus-sign {
	display: block;
	line-height: 26px;
}