.cart {
	display: table;
	width: 100%;
}

.cart__header {
	display: table-header-group;
	font-size: $font-size--h3;
	color: $grey-dark;
}

.cart__item {
	display: table-row;
}

.cart__image {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	padding: 10px;
	text-align: right;
	border-bottom: 2px solid $grey-light;	
}

.cart__name {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;	
	border-bottom: 2px solid $grey-light;	
}

.cart__price {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	padding: 10px;	
	text-align: center;
	border-bottom: 2px solid $grey-light;		
}

.cart__quantity {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	padding: 10px;	
	text-align: center;
	border-bottom: 2px solid $grey-light;	
	
}

.cart__total {
	display: table-cell;
	padding: 20px;
	vertical-align: middle;
	width: 50px;
	padding: 10px;	
	text-align: right;
	border-bottom: 2px solid $grey-light;		
}

.cart__subtotal {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	color: $grey-dark;
}

.cart__subtotal-value {
	color: $color-text;
	padding-left: 15px;
	padding-right: 10px;
}

.cart__count {
	display: inline-block;
	padding: 0;
	width: 26px;
	height: 26px;
	color: $color-bg;
	font-size: $font-size--h2;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	border: none;
	
	&:hover {
		opacity: 0.8;
        cursor: pointer;
	}

	&_minus {
		background-color: $color-alert;
	}

	&_plus {
		background-color: $color-secondary;
	}
}

.cart__count-value {
	padding: 0 10px;
}

.cart__sign {
	display: inline-block;
	line-height: 26px;
	vertical-align: middle;
}

.cart__color {
	padding-top: 5px;
	color: $grey-dark;
}

.cart__select-color {
	display: inline-block;
	margin: 0 2px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 100%;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	font-size: $font-size--check;
	color: $color-bg;

	&_yellow {
		background-color: $color-sand;
	}

	&_blue {
		background-color: $color-primary;
	}
	
	&_green {
		background-color: $color-secondary;
	}
	
	&_red {
		background-color: $color-alert;
	}
	
	&_black {
		background-color: $grey-darken;
	}

	&_brown {
		background-color: $color-cocoa;
	}
}

.cart__select-size {
	display: inline-block;
	width: 23px;
	height: 16px;
	border-radius: 4px;
	background-color: $grey;
	vertical-align: middle;
	text-align: center;
	line-height: 16px;
	font-size: $font-size--small;
	color: $color-bg;
}