.container {
	padding: 10px;
	box-sizing: border-box;
	float: left;
	width: 100%;

	&--double {
		width: 50%;
	}

	&--double_23 {
		@extend .container--double;
		width: 66.66%;
	}

	&--double_13 {
		@extend .container--double;
		width: 33.33%;
	}

	&--tripple {
		width: 33.33%;
	}

	&--inner {
		padding: 0;
		padding-bottom: 30px;
	}

	&__btn {
		padding: 0;
		padding-right: 2%;
		width: 50%;
	}
	
	&__btn_right {
		float: right;
		padding: 0;
		padding-left: 2%;
		width: 50%;

		&--small {
			width: 44px;
		}
	}

	&__p {
		padding-bottom: 20px;
		background-color: $color-sand;
	}


}