.container {
	padding: 10px;
	box-sizing: border-box;
	float: left;
	width: 100%;

	&--double {
		width: 50%;
	}

	&--double_23 {
		@extend .container--double;
		width: 66.66%;
	}

	&--double_13 {
		@extend .container--double;
		width: 33.33%;
	}

	&--tripple {
		width: 33.33%;
	}

	&--inner {
		padding: 0;
		padding-bottom: 20px;
	}

	&--inner_bottom {
		padding: 0;
	}

	&__btn {
		float: left;
		box-sizing: border-box;
		padding: 0;
		padding-right: 2%;
		width: 50%;

		&--left {
			float: left;
			width: 75%;
		}
	}
	
	&__btn_right {
		float: right;
		box-sizing: border-box;		
		padding: 0;
		padding-left: 2%;
		width: 50%;

		&--square {
			width: 20%;
			text-align: right;
		}

		&--align_r {
			text-align: right;
		}
	}

	&__p {
		padding-bottom: 20px;
		background-color: $color-sand;
	}


}