.container {
	padding: 10px;
	box-sizing: border-box;

	&--double {
		width: 50%;
		float: left;
	}

	&--double_23 {
		@extend .container--double;
		width: 66.66%;
	}

	&--double_13 {
		@extend .container--double;
		width: 33.33%;
	}

	&--triple {
		width: 33.33%;
		float: left;
	}

	&--inner {
		padding: 0;
	}
}