.content {
    box-sizing: border-box;
    position: relative;
    padding: 30px;
    width: 100%;

    hr {
        border: 1px solid $grey-light;
        margin-bottom: 25px;
    }
    
    &__clear {
        clear: both;
    }

    &__end {
        margin-bottom: 25px;
    }

    &__center {
        position: relative;
        margin-top: 15px;
        margin-bottom: 25px;
        text-align: center;
        font-size: $font-size--h3;
        color: $grey-dark;
    }

    &__left {
        @extend .content__center;
        text-align: left;
    }

    &__divider {
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        color: inherit;
        background-color: $grey-lighten;
    }

    &__justify {
        text-align: justify;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }

    &__corner_bottom {
        position: absolute;
        bottom: -100px;
        right: 20px;
        padding: 0;
        font-size: $font-size--h2;
    }

    &--noheader {
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}