.button {
    display: inline-block;
    height: 48px;
    font-family: $font-text;
    font-size: $font-size;
    color: $text-color--title;
    border: none;
    border-radius: 6px;

    &_big-blue {
        width: 88%;
        background-color: $color-primary;
        font-size: $font-size--h2;
    }

    &_big-green {
        width: 88%;
        background-color: $color-secondary;
        font-size: $font-size--h2;
    }

    &_mid-fb {
        background-color: $color-fb;
        width: 41%;
    }

    &_mid-tw {
        background-color: $color-primary;
        width: 41%;
    }
}