.container {
    background-color: $color-secondary;
    padding: 15px;
    margin: 20px;
    text-align: center;
    color: $text-color;
    font-size: $font-size;

    &--medium {
        width: 800px;
    }
}