.container {
    background-color: $color-bg;
    font-family: $font-text;
    
    &_page {
        padding: 20px;
        margin: 0 auto;
        min-width: 500px;
        max-width: 1180px;
    }

    &__form {
        margin: 10px;
    }
}