.container {
    // display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-bg;
    
    &--page {
        padding: 20px;
        margin: 0 auto;
    }

    &__form {
        margin: 10px;
    }
}