.form {
    display: inline-block;
    background-color: $grey-lighten;
    border-radius: 6px;

    &__content {
        padding: 15px 0 25px 0;
    }

    &__several-button {
        margin-right: 3%;
    }
}