$grey-lighten:               #f2f5f8;
$grey-light:  				 #dee2e7;
$grey:                       #c6ccd2;
$grey-dark:                  #b4bbc2;
$grey-darken:                #383737;

$color-bg:           white;
$color-primary:      #65abd0;
$color-secondary:    #24aa98;
$color-alert: 		 #db7560;
$color-sand: 		 #d9c26c;
$color-fb:           #3162a2;
$color-text:         #393635;
$color-labels:       $grey-dark;
$color-cocoa:        #865447;

$text-color--title:  $color-bg;

$font-text: 'Cabin', sans-serif;

$font-size: 16px;
$font-size--h1: 32px;
$font-size--h2: 18px;
$font-size--h3: 14px;
$font-size--small: 12px;
$font-size--check: 9px;
$font-size--summ: 24px;

$fa-font-path: "../fonts"