<div class="cart">

	<div class="cart__header">
		<div class="cart__image"></div>
		<div class="cart__name">Item</div>
		<div class="cart__price">Price</div>
		<div class="cart__quantity">Quantity</div>
		<div class="cart__total">Total</div>
	</div>

	<div class="cart__item">
		<div class="cart__image">
			<img src="../img/item1.png" alt="Leather Bag">
		</div>
		<div class="cart__name">
			<div class="cart__item-name">Leather Bag</div>
		</div>
		<div class="cart__price">$199</div>
		<div class="cart__quantity">
			<button type="button" class="cart__count cart__count_minus">
				<span class="cart__minus-sign">-</span>
			</button>
			<span class="cart__count-value">1</span>
			<button type="button" class="cart__count cart__count_plus">
				<span class="cart__plus-sign">+</span>
			</button>		
		</div>
		<div class="cart__total">$199</div>		
	</div>

	<div class="cart__item">
		<div class="cart__image">
			<img src="../img/item2.png" alt=" Leather Belt">				
		</div>
		<div class="cart__name">
			<div class="cart__item-name">Leather Belt</div>				
		</div>
		<div class="cart__price">$49</div>
		<div class="cart__quantity">
			<button type="button" class="cart__count cart__count_minus">
				<span class="cart__minus-sign">-</span>
			</button>
			<span class="cart__count-value">2</span>
			<button type="button" class="cart__count cart__count_plus">
				<span class="cart__plus-sign">+</span>
			</button>
		</div>
		<div class="cart__total">$98</div>		
	</div>

	<div class="cart__item">
		<div class="cart__image">
				<img src="../img/item3.png" alt="Leather Shoes">				
		</div>
		<div class="cart__name">
			<div class="cart__item-name">Leather Shoes</div>				
		</div>
		<div class="cart__price">$199</div>
		<div class="cart__quantity">
			<button type="button" class="cart__count cart__count_minus">
				<span class="cart__minus-sign">-</span>
			</button>
			<span class="cart__count-value">1</span>
			<button type="button" class="cart__count cart__count_plus">
				<span class="cart__plus-sign">+</span>
			</button>	
		</div>
		<div class="cart__total">$199</div>		
	</div>
</div>
<div class="cart__subtotal">
	Subtotal:<span class="cart__subtotal-value">$496</span>
</div>