<form class="form" name="subscribe" method="POST">
	<div class="header header--small">
		<h2 class="">Subscribing</h2>
	</div>
	<div class="content content--noheader">
		<p class="content__left">
			We will never send you spam or some other trash
		</p>
		<div class="container__btn">
			<input type="text" name="e-mail" class="input content__end" placeholder="E-mail">
		</div>
		<div class="container__btn_right container__btn_right--small">
			<input type="submit" class="button" value=">">
		</div>

	</div>
</form>