<form class="form" name="contact" method="POST">
	<div class="header header--small">
		<h2>Contact</h2>
	</div>
	<div class="content">

		<div class="container__btn content__end">
			<p class="input__head">
				<label for="input-name">Name</label>
			</p>
			<input type="text" name="name" id="input-name" class="input">
		</div>	

		<div class="container__btn_right content__end">
			<p class="input__head">
				<label for="input-email">E-mail</label>
			</p>
			<input type="text" name="e-mail" id="input-email" class="input">
		</div>	

		<div class="container__btn content__end">
			<p class="input__head">
				<label for="input-subject">Subject</label>
			</p>
			<input type="text" name="subject" id="input-subject" class="input">
		</div>	

		<div class="container__btn_right content__end">
			<p class="input__head">
				<label for="choose-budget">Select Budget</label>
			</p>
			<select name="budget" id="choose-budget" class="input input--blue">
				<option value="10k-15k">$10.000 - $15.000</option>
				<option value="15k-20k">$15.000 - $20.000</option>
				<option value="20k-25k">$20.000 - $25.000</option>
			</select>
		</div>	
		<p class="content__clear"></p>

		<div class="content__end">
			<p class="input__head">
				<label for="input-message">Message</label>
			</p>	
			<textarea name="message" id="input-message" rows="4" class="input">Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.</textarea>
		</div>

		<div class="container__btn">
			<input type="checkbox" name="send-me-copy" id="check-send">
			<label for="check-send">Send me a copy</label>
		</div>
		<div class="container__btn_right container__btn_right--align_r">
			<input type="submit" class="button button--auto" value="Send">
		</div>
		<p class="content__clear"></p>
	</div>
</form>