<form class="form" name="shipping-form" method="POST">
	<div class="header header--small">
		<h2>Shipping address</h2>
	</div>

	<div class="content">
		<div class="container container--tripple">
			<label for="select-country" class="input__head">Select Country</label>
			<select name="country" id="select-country" class="input input--orange content__end">
				<option value="usa">USA</option>
				<option value="canada">Canada</option>
				<option value="ukraine">Ukraine</option>
			</select>
			<label for="select-city" class="input__head">Select City</label>
			<select name="city" id="select-city" class="input input--orange">
				<option value="california">California</option>
			</select>
		</div>
		<div class="container container--tripple">
			<label for="input-region" class="input__head">State, Region, Province</label>
			<input type="text" name="region" id="input-region" class="input content__end">
			<label for="input-zip" class="input__head">ZIP Code</label>
			<input type="text" name="zip" id="input-zip" class="input">
		</div>
		<div class="container container--tripple">
			<label for="input-address1" class="input__head">Address 1</label>
			<input type="text" name="address1" id="input-address1" class="input content__end">
			<label for="input-address2" class="input__head">Address 2</label>
			<input type="text" name="address2" id="input-address2" class="input">
		</div>
		<div class="content__clear"></div>
	</div>
	
	<div class="header header--small">
		<h2>Contact info</h2>
	</div>

	<div class="content">
		<div class="container container--tripple">
			<label for="input-fullname" class="input__head">Full Name</label>
			<input type="text" name="full-name" id="input-fullname" class="input">
		</div>
		<div class="container container--tripple">
			<label for="input-info_email" class="input__head">E-mail</label>
			<input type="text" name="email" id="input-info_email" class="input">
		</div>
		<div class="container container--tripple content__end">
			<label for="input-info_phone" class="input__head">Phone</label>
			<input type="text" name="phone" id="input-info_phone" class="input">
		</div>
		<div class="content__clear"></div>		
		<div class="container__btn header__corner_bottom">
			<a href="#"><span class="fa fa-angle-left"></span>Return to Cart</a>
		</div>
		<div class="container__btn_right container__btn_right--align_r">
			<button type="submit" class="button button--auto">Payment Method<span class="fa fa-angle-right"></span></button>
		</div>
		<div class="content__clear"></div>
	</div>
</form>