<form class="form form--signin_small" name="sign-in" method="POST">
	<div class="header">
		<h1 class="">Sign in</h1>
		<p class=""><a href="#">Already Registered?</a></p>
	</div>
	<div class="content">
		<input type="text" name="login" class="" placeholder="E-mail or login">
		<input type="password" name="password" class="" placeholder="Password">
		<p>
			<input type="checkbox" name="remember-pass" id="signin_small-remember">
			<label for="signin_small-remember">Remember password?</label>
		</p>
		<input type="submit" class="button" value="Sign In">
		<p>
			<span>OR</span>
		</p>
		<input type="button" name="fb-log" class="" value="Login via Facebook">
		<input type="button" name="tw-log" class="" value="Login via Twitter">
	</div>
</form>