<form class="form" name="contact" method="POST">
	<div class="header">
		<h1 class="">Contact</h1>
	</div>
	<div class="content">
		<p>
			<label for="contact_small-name">Name</label>
		</p>
		<input type="text" name="name" id="contact_small-name" class="" placeholder="Your Name">
		<p>
			<label for="contact_small-email">E-mail</label>
		</p>
		<input type="text" name="e-mail" id="contact_small-email" class="" placeholder="Your E-mail">
		<p>
			<label for="contact_small-message">Message</label>
		</p>	
		<input type="text-area" name="message" id="contact_small-message" class="" placeholder="Some text">
		<p>
			<input type="submit" class="button" value="Send">
		</p>
	</div>
</form>