<form class="form" name="payment-form" method="POST">
	<div class="container container--double">
		<h2 class="">Payment method</h2>
		<p>Credit Card</p>
		<input type="text" name="card-p1" placeholder="XXXX">
		<input type="text" name="card-p2" placeholder="XXXX">
		<input type="text" name="card-p3" placeholder="XXXX">
		<input type="text" name="card-p4" placeholder="XXXX">
		<p>
			<label for="input-cardholder">Cardholder Name</label>
		</p>
		<input type="text" name="cardholder" id="input-cardholder">
		<p>Expire</p>
		<select name="month" id="select-month">
			<option value="month">Month</option>
			<option value="jan">January</option>
			<option value="feb">February</option>
		</select>
		<select name="year" id="select-year">
			<option value="year">Year</option>
			<option value="2017">2017</option>
			<option value="2016">2016</option>
		</select>
		<p>
			<label for="input-cvv">CVV</label>
		</p>
		<input type="text" name="cvv" id="input-cvv">
		<p>
			<a href="#">Continue Shopping</a>
		</p>
	</div>

	<div class="container container--double">
		<h2 class="">Billing Address</h2>
		<input type="checkbox" name="same-address" id="check-same">
		<label for="check-same">Same as shipping address</label>
		<p>
			A hundred thousand grateful loves to your dear papa and mamma. 
			Is ypur poor brother recovered of his rack-punch? 
			Oh, dear! Oh, dear! How men should beware of wicked
		</p>
		<div>
			<p>$496</p>
			<input type="submit" value="Order">
		</div>
	</div>
	<div class="content__clear"></div>		
</form>