<form class="form" name="contact" method="POST">
	<div class="header header--small">
		<h2>Contact</h2>
	</div>
	<div class="content">
		<label for="contact_small-name" class="input__head">Name</label>
		<input type="text" name="name" id="contact_small-name" class="input content__end">
		<label for="contact_small-email" class="input__head">E-mail</label>
		<input type="text" name="e-mail" id="contact_small-email" class="input content__end">
		<label for="contact_small-message" class="input__head">Message</label>
		<textarea name="message" id="contact_small-message" rows="4" class="input content__end">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</textarea>
		<div class="container__btn_right container__btn_right--align_r">
			<button type="submit" class="button button--auto">Send</button>
		</div>
		<div class="content__clear"></div>
	</div>
</form>


