<form class="form" name="shipping-form" method="POST">
	<div class="header header--small">
		<h2>Shipping address</h2>
	</div>

	<div class="content">
		<div class="container container--tripple">
			<p class="input__head">
				<label for="select-country">Select Country</label>
			</p>
			<select name="country" id="select-country" class="input input--orange content__end">
				<option value="usa">USA</option>
				<option value="canada">Canada</option>
				<option value="ukraine">Ukraine</option>
			</select>
			<p class="input__head">
				<label for="select-city">Select City</label>
			</p>
			<select name="city" id="select-city" class="input input--orange">
				<option value="california">California</option>
			</select>
		</div>
		<div class="container container--tripple">
			<p class="input__head">
				<label for="input-region">State, Region, Province</label>
			</p>
			<input type="text" name="region" id="input-region" class="input content__end">
			<p class="input__head">
				<label for="input-zip">ZIP Code</label>
			</p>
			<input type="text" name="zip" id="input-zip" class="input">
		</div>
		<div class="container container--tripple">
			<p class="input__head">
				<label for="input-address1">Address 1</label>
			</p>
			<input type="text" name="address1" id="input-address1" class="input content__end">
			<p class="input__head">
				<label for="input-address2">Address 2</label>
			</p>
			<input type="text" name="address2" id="input-address2" class="input">
		</div>
		<p class="content__clear"></p>
	</div>
	
	<div class="header header--small">
		<h2>Contact info</h2>
	</div>

	<div class="content">
		<div class="container container--tripple">
			<p class="input__head">
				<label for="input-fullname">Full Name</label>
			</p>
			<input type="text" name="full-name" id="input-fullname" class="input">
		</div>
		<div class="container container--tripple">
			<p class="input__head">
				<label for="input-info_email">E-mail</label>
			</p>
			<input type="text" name="email" id="input-info_email" class="input">
		</div>
		<div class="container container--tripple content__end">
			<p class="input__head">
				<label for="input-info_phone">Phone</label>
			</p>
			<input type="text" name="phone" id="input-info_phone" class="input">
		</div>
		<p class="content__clear"></p>		
		<div class="container__btn header__corner_bottom">
			<a href="#">Return to Cart</a>
		</div>
		<div class="container__btn_right container__btn_right--align_r">
			<input type="submit" value="Payment Method" class="button button--auto">
		</div>
		<p class="content__clear"></p>
	</div>
</form>